{
  "env": {
    // For RN example development
    "development": {
      "presets": ["module:metro-react-native-babel-preset"]
    },
    // For Jest
    "test": {
      "presets": ["module:metro-react-native-babel-preset"]
    },
    // For publishing to NPM for RN
    "publish-rn": {
      "presets": ["module:metro-react-native-babel-preset"]
    },
    // For publishing to NPM for web
    "publish-web": {
      "presets": ["env"]
    }
  }
}
